
.group1, .group2 {text-align: center;}
.nav {background-image: url(images/range.png); background-size:cover ; height: 200px;}

ul li {list-style-type: none; float:left; overflow: visible;}
.logo {margin-left: 20px;}
.donate {margin-top: 20px;}
.home {margin-right: 65px; margin-left: 10px;}

li .dropdown {visibility: hidden; width: 180px; height: 25px; line-height: 20px; margin-right: 100px;}
.link {border: 2px groove black; border-radius: 25px; text-decoration: none;  width: 150px; height: 35px; line-height: 35px; display: inline-block; color: black; background-color:white; text-align: center; margin-left: -15px;}
li:hover .dropdown {visibility: visible; display: block;}

